/* #4 #sweat #external css file */

/* GLOBAL */

/* #4 #global styles*/

* {
    /* #4 use #roboto #font */
    font-family: 'Roboto', 'Arial', sans-serif;

     /* #4 #sweat take care of #spacing between various elements */
    margin: 0;
    padding: 0;
}

body {
    background-color: #F5F5F5;
}

/* #4 # sweat #uppercase buttons and w3w locations */
button, strong {
    text-transform: uppercase;
}



/* APP BAR */

/* #4 #sweat address both #app-bar s */
/* 5.2 reworking app bars according to material design guide */
h1 {
    font-size: 20px;
    line-height: 32px;
    height: 32px;
    vertical-align: middle;
    padding: 16px;
    background-color: #3F51B5;
    color: white;
}

/* 5.2 reworking app bars according to material design guide 
   getting some space for the logo */
#app-bar-left {
    padding-left: 72px;
}

/* 5.2 reworking app bars according to material design guide 
   place the logo */
#app-bar-left img {
    position: fixed;
    top: 8px;
    left: 16px;
}

/* CHANNELS LIST */

/* #5.1 split the screen */
#channels {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 40%;
}

/* #4 #sweat #channels */
ul {
    /* #3 #channels #list modifies h2 to ul */
    background-color: white;
    /* #3 #channels #bullets removed */
    list-style-type: none;
    /* 5.2 canalize channels - scrolling */
    position: inherit;
    top: 64px;
    bottom: 72px; /* space for tab bar */
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

li {
    /* #4 #channel #tile geometry */
    box-sizing: border-box;
    height: 48px;
    padding: 16px;
    font-size: 16px;
    /* #4 #channel tiles are separated by #lines */
    border-bottom: 1px solid #F5F5F5;
}

/* #4 active #channel is #highlighted */
li.selected {
    color: #3F51B5;
    border-left: 4px solid #3F51B5;
}

li img {
    /* #4 #middle vertical alignment of icons in the #channels list */
    vertical-align: middle;
}

/* 5.2 canalize channels - channel inline icons */
.channel-meta {
    position: absolute;
    right: 0px;
    /* this one corrects the middle alignment */
    margin: -4px;
    vertical-align: middle;
}

/* TAB BAR */

/* #4 #sweat #tab-bar */
#tab-bar, #chat-bar {
    /* 5.3 bottom aligning tab bar */
    position: inherit;
    left: 0px;
    bottom: 0px;
    width: 100%;
    /* 5.3 flexifying the tab bar */
    display: flex;
    justify-content: space-around;
    /* #3 #tab-bar #container should be white */
    background-color: white;
    /* #3 #tab-bar #container has all buttons centered */
    text-align: center;
}

/* #4 add styles to #tab-bar #buttons */
#tab-bar button {
    background-color: white;
    border: none;
    font-size: 13px;

    /* #4 #tab-bar buttons have a width of #one-third of the available space */
    width: 33%;
    height: 72px;
    padding: 16px;
}

/* #4 #tab-bar buttons do have a #line-break and images are centered due to the left&right auto margin */
#tab-bar button img {
    display: block;
    margin: 0 auto 4px auto;
}

/* #4 the selected #tab-bar #button is #highlighted */
#tab-bar button.selected {
    color: #3F51B5;
    border-bottom: 4px solid #3F51B5;
}

/* 5.5 different style for chat-bar */
#chat-bar {
    justify-content: left;
    align-items: flex-start;
}

/* 5.6 style for the emoji box */
#emojis {
    position: inherit;
    top: -640px;
    background-color: white;
    border: 1px solid black;
    width: 320px;
    height: 320px;
    overflow-y: auto;
    font-size: 28px;
    padding: 16px;
    margin: 284px 0px 0px 16px;
}
/* MESSAGES */

/* #5.1 split the screen */
#chat {
    position: absolute;
    top: 0px;
    left: 40%;
    height: 100%;
    width: 60%;
}

/* 5.6 chat list scrolling */
.chatlist {
    position: inherit;
    top: 64px;
    bottom: 72px; /* space for tab bar */
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

/* #4 select #specific #messages by class and re-assign element styles according to their #hierarchy in a nested way */
.message {
    /* #3 #chat #width*/
    width: 80%;

    /* #4 align all #messages using #margins */
    margin-left: 2.5%;
}

.message h3 {
    /* 5.4 even distribution of meta-data */
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    font-size: medium;
}

.message h3 em {
    font-size: larger;
    font-style: normal;
}

.message h3 a {
    /* #3 #chat #link color is primary text */
    color: black;
}

.message p {
    background-color: white;
    padding: 16px;
}

.message button {
    /* 5.4 repositioning of +5min buttons */
    float: right;
    margin: -28px 8px 0px 0px;

    background-color: #CDDC39;
    color: black;
    text-transform: uppercase;
}

/* #4 left align own #messages using #margins */
.message.own {
    margin-left: 17.5%;
}

